<div style="text-align:center;padding-top: 4vmax;">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="container ">
  <div class="lead">
  <mat-card >
    <mat-card-header>
      <div mat-card-avatar  ></div>
      <mat-card-title>Input Form</mat-card-title>
      <mat-card-subtitle>2 numbers for Multiplication</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field  >
          <input matInput min="1" (ngModelChange)="calc($event)" [(ngModel)]="numberOne" type="number" placeholder="" value="0">
        </mat-form-field>
        <span style="padding-left:10px;padding-right: 10px">X</span>
        <mat-form-field  >
          <input matInput    (ngModelChange)="calc($event)" type="number" [(ngModel)]="numberTwo" placeholder="" value="0">
        </mat-form-field>
      <div>
       {{numberOne}} * {{numberTwo}}  =  {{value}}
      </div>
    </mat-card-content>
  </mat-card>
  </div>
</div>
<div class="container ">

  <div class="col-item">
    <mat-card  >
      <mat-card-header>
        <div mat-card-avatar  ></div>
        <mat-card-title>Russian </mat-card-title>
        <mat-card-subtitle>Multiplication</mat-card-subtitle>
      </mat-card-header>
     <mat-card-content>
       <table mat-table  [dataSource]="stepsRussian" class="mat-elevation-z0">
         <ng-container matColumnDef="index">
           <th mat-header-cell *matHeaderCellDef> No </th>
           <td mat-cell *matCellDef="let elem;let i = index;"> {{i}} </td>
           <td mat-footer-cell *matFooterCellDef> Total </td>
         </ng-container>
         <ng-container matColumnDef="vala">
           <th mat-header-cell *matHeaderCellDef> num1 / 2 </th>
           <td mat-cell *matCellDef="let elem"> {{elem.vala}} </td>
           <td mat-footer-cell *matFooterCellDef>  </td>
         </ng-container>
         <ng-container matColumnDef="valb">
           <th mat-header-cell *matHeaderCellDef> num2 * 2 </th>
           <td mat-cell *matCellDef="let elem"> {{elem.valb}} </td>
           <td mat-footer-cell *matFooterCellDef>  </td>
         </ng-container>
         <ng-container matColumnDef="sum">
           <th mat-header-cell *matHeaderCellDef> Sum </th>
           <td mat-cell *matCellDef="let elem"> {{elem.sum}} </td>
           <td mat-footer-cell *matFooterCellDef> {{sumTotalRussian}}  </td>
         </ng-container>
         <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumns" [ngClass]="{even:row.isSum}"></tr>
         <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
       </table>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-item">
    <mat-card  >
      <mat-card-header>
        <div mat-card-avatar  ></div>
        <mat-card-title>Egyptian</mat-card-title>
        <mat-card-subtitle>Multiplication</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <table mat-table  [dataSource]="stepsEgyptian" class="mat-elevation-z0">
          <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef> No </th>
            <td mat-cell *matCellDef="let elem;let i = index;"> {{i}} </td>
            <td mat-footer-cell *matFooterCellDef> Total </td>
          </ng-container>
          <ng-container matColumnDef="vala">
            <th mat-header-cell *matHeaderCellDef>  *2 </th>
            <td mat-cell *matCellDef="let elem"> {{elem.vala}} </td>
            <td mat-footer-cell *matFooterCellDef>  </td>
          </ng-container>
          <ng-container matColumnDef="valb">
            <th mat-header-cell *matHeaderCellDef> num2 * 2 </th>
            <td mat-cell *matCellDef="let elem"> {{elem.valb}} </td>
            <td mat-footer-cell *matFooterCellDef>  </td>
          </ng-container>
          <ng-container matColumnDef="sum">
            <th mat-header-cell *matHeaderCellDef> Sum </th>
            <td mat-cell *matCellDef="let elem"> {{elem.sum}} </td>
            <td mat-footer-cell *matFooterCellDef> {{sumTotalEgyptian}}  </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns" [ngClass]="{even:!row.isSum}"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>


</div>
<hr>
<div class=" row">

  <p>This project is a fun project, inspired by this video <a href="https://www.youtube.com/watch?v=HJ_PP5rqLg0" target="_blank">Russian Multiplication - Numberphile</a><br>
  </p>
  <p>Project on <a href="https://github.com/sotospez/Multiplication" target="_blank">Github</a></p>
  <p><strong>Sotiris</strong></p>

</div>

